<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <title>TODO list</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Material design angular demo">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="bower_components/angular-material/themes/indigo-theme.css">
  <link rel="stylesheet" href="bower_components/angular-material/themes/red-theme.css">
  <link rel="stylesheet" href="bower_components/angular-material/themes/cyan-theme.css">

  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="bower_components/hammerjs/hammer.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  
  <script src="home/home.js"></script>
  <script src="view1/view1.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>

  <link rel="stylesheet" href="app.css"/>
  <script src="app.js"></script>
</head>

<body  ng-controller="MainCtrl"> 
  <!-- Верхняя панель-->
  <md-toolbar md-theme="indigo" class="app-toolbar md-indigo-theme md-whiteframe-z2 fix-top" >
    <div class="md-toolbar-tools" tabindex="0">
      <md-button class="menu-icon nornal-btn" ng-click="toggleRight()" aria-label="Toggle Menu">
        <md-tooltip >
          Меню
        </md-tooltip>
        <md-icon icon="img/icons/ic_menu_24px.svg"></md-icon>
      </md-button>
      Список задач 
    </div>
  </md-toolbar>
  
  <!--Сюда будут вставляться views-->
  <div style="padding-top: 80px;"  flex ng-view></div>
  <!-- Боковая панель -->
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <div ng-controller="LeftCtrl" ng-click="close()">
      <md-toolbar md-theme="indigo">
        <h1 class="md-toolbar-tools">Меню</h1>
      </md-toolbar>
      <md-content >
        <a class="menu-item menu-sub-item md-menu-item" ng-click="menu.toggleSelectPage(page)" ng-repeat="page in menu.pages" ng-href="#{{page.url}}" md-highlight="menu.isPageSelected(page)" md-ink-ripple="#bbb">  
          <span > {{page.discription}} </span> 
        </a>
      </md-content>
    </div>
  </md-sidenav>

</body>
</html>