<div ng-controller="View1Ctrl"  layout-fill>

  <!-- Панель появляющаяся при выделении задачи --> 
  <md-toolbar  ng-show="oneSelected" md-theme="cyan" class="md-accent app-toolbar md-cyan-theme md-whiteframe-z2 fix-top">
    <h1 class="md-toolbar-tools">
      <md-button class=" md-accent nornal-round-btn"  aria-label="Назад" ng-click="deselectAll()">
        <md-tooltip>
          Назад
        </md-tooltip>
        <md-icon icon="img/icons/ic_close_24px.svg">
        </md-icon>
      </md-button>
      <span> Выбранно элементов: {{countSelected}}</span> 
      <div flex> </div>
      <md-button ng-click="archiveAll()"  class="md-accent nornal-round-btn" aria-label="В архив">
        <md-tooltip>
          В архив
        </md-tooltip>
        <md-icon icon="img/icons/ic_done_all_24px.svg">
        </md-icon>
      </md-button>
    </h1>
  </md-toolbar>
 
  <md-content class="list-cont" >
  
    <md-list  >
      <md-item ng-repeat="item in todos">
        <md-whiteframe   ng-show="item.visible" ng-class="{'md-whiteframe-z2': item.check, check:item.check }" class="sample-show-hide md-whiteframe-z1"  layout layout-align="center center" style="margin: 10px; padding: 0px;">
          <md-item-content style="padding: 5px; margin: 0;" ng-mouseenter="item.btns=true" ng-mouseleave="item.btns=false">
           
    		    <div class="md-tile-left">
              <div class="list-check-area" ng-mouseenter="showItem(item)" ng-mouseleave="hideItem(item)" >
                <div ng-class="{'active-checkbox': (item.show||oneSelected)}" ng-style="{'background-color':'rgb({{item.color.red}},{{item.color.green}},{{item.color.blue}})'}" class="left-box" > 
    				      <md-checkbox class="list-cb"  ng-show="item.show||oneSelected" ng-show="item.show||oneSelected" ng-change="oneCheck(item)" ng-model="item.check">
    				      </md-checkbox>
    			      </div>
    			    </div>
            </div>

            <div class="md-tile-content" style="width: 600px; flex: auto;  -ms-flex: auto; max-width:600px; ">
              <h3>{{item.what}}</h3>
              <h4>{{item.who}}</h4>
              <p>
                {{item.notes}}
              </p>
            </div>
    		    
            <div class="md-tile-right nornal-btn" >
    				  <md-button ng-show="item.btns&&(!oneSelected)" class="nornal-btn" ng-click="remove(item)">
    						<md-icon icon="img/icons/ic_done_24px.svg">
    		        </md-icon>
    		        <md-tooltip >
    				      В архив
    				    </md-tooltip>
    					</md-button>
    		    </div>
   
          </md-item-content>
        </md-whiteframe>
      </md-item>
    </md-list>
  </md-content>

  <!-- Плавающая конопка добавления -->
  <div class="float-btn">
	  <md-button class="md-fab md-primary" md-theme="red" aria-label="Добавить" ng-click="showAlert($event)">
	  	<md-tooltip >
     	  Добавить  
      </md-tooltip>
	    <md-icon icon="img/icons/ic_add_24px.svg" style="width: 24px; height: 24px;"></md-icon>
	  </md-button>
 	</div>
</div>